DirectoryIndex index.html

AuthName "Admin Concsole"
AuthUserFile /001/.htpasswd
AuthType Basic
require valid-user

ErrorDocument 404 /errorpages/404.html

AddType application/zip .zip
AddType image/gif .gif .GIF
AddType image/jpeg .jpeg .jpg .jpe .JPG
AddType text/html .html .htm
AddType text/plain .txt
AddType text/richtext .rtx